on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  full:
    runs-on: ubuntu-latest
    container:
      image: devwithlando/php:8.0-apache-3
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          composer validate
          composer self-update
          composer install
